<div id="card_loading" class="d-flex justify-content-center">
  <div class="spinner-border"></div>
</div>
<div id="err" class="d-none text-center">
  <span>Can't find market for this token</span>
  <input id="tokenERR" type="text" class="mb-1 ml-3 form-control bg-dark text-white border-0 btn-outline-warning">
</div>
<div id="pg" class="d-none">
  <header class="d-flex flex-wrap justify-content-between align-items-center text-center mb-3">
    <div class="d-flex flex-column align-items-center">
      <div class="mb-1">
        <span class="mid">Market</span>
      </div>
      <input id="token" type="text" class="mb-1 ml-3 form-control bg-dark text-white border-0 btn-outline-warning">
    </div>
    <div class="d-flex flex-column">
      <span class="mid">Bid</span>
      <span id="bid"></span>
    </div>
    <div class="d-flex flex-column">
      <span class="mid">Ask</span>
      <span id="ask"></span>
    </div>
    <div class="d-flex flex-column">
      <span class="mid">Last</span>
      <span id="last"></span>
    </div>
    <div class="d-flex flex-column">
      <span class="mid">24H Volume</span>
      <span id="volume"></span>
    </div>
  </header>

  <div class="d-flex w-100 mb-2">
    <canvas id="candle_chart"></canvas>
    <canvas id="volume_chart" style="display: none;"></canvas>
    <canvas id="depth_chart" style="display: none;"></canvas>
  </div>
  <div class="d-flex justify-content-center mb-2">
    <button type="button" class="btn btn-info btn-sm" id="candle">Candlestick</button>
    <button type="button" class="btn btn-info btn-sm" id="depth">Depth</button>
    <button type="button" class="btn btn-info btn-sm" id="volume">Volume</button>
  </div>
  
  <div class="d-flex w-100 mb-2">
    <div class="d-flex flex-column flex-grow-1 mr-3">
      <span class="big">Buy <span class="t_n"></span></span>
      <div class="d-flex justify-content-between align-items-center">
        <div class="w-25">
          <span>Price</span>
        </div>
        <div class="input-group">
          <input id="buy_price" type="number" placeholder="0" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text"><span class="t_n"></span>/HIVE</span>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="w-25">
          <span>Quantity</span>
        </div>
        <div class="input-group">
          <input id="buy_quantity" type="number" placeholder="0" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text t_n"></span>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="w-25">
          <span>Total</span>
        </div>
        <div class="input-group">
          <input id="buy_total" disabled type="number" placeholder="0" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">HIVE</span>
          </div>
        </div>
      </div>

      <div>
        <button type="button" disabled class="btn btn-success float-right" id="buy">Buy</button>
      </div>
    </div>
    <div class="d-flex flex-column flex-grow-1 ml-3">
      <span class="big">Sell <span class="t_n"></span></span>
      <div class="d-flex justify-content-between align-items-center">
        <div class="w-25">
          <span>Price</span>
        </div>
        <div class="input-group">
          <input id="sell_price" type="number" placeholder="0" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text"><span class="t_n"></span>/HIVE</span>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="w-25">
          <span>Quantity</span>
        </div>
        <div class="input-group">
          <input id="sell_quantity" type="number" placeholder="0" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text t_n"></span>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="w-25">
          <span>Total</span>
        </div>
        <div class="input-group">
          <input id="sell_total" disabled type="number" placeholder="0" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">HIVE</span>
          </div>
        </div>
      </div>

      <div>
        <button type="button" disabled class="btn btn-danger float-right" id="sell">Sell</button>
      </div>
    </div>
  </div>

  <div class="text-center mb-3" id="balances">
    <span>
      Balance: <span id="hive_balance"></span> SWAP.HIVE and <span id="t_balance"></span> <span class="t_n"></span></span>
    </span>
  </div>

  <div class="d-flex w-100 flex-wrap">
    <div class="d-flex flex-column flex-grow-1 mr-3">
      <span class="big">Buy Orders</span>
      <table class="table darker table-borderless">
        <thead>
          <tr>
            <th style="width: 25%;">TOTAL HIVE</th>
            <th style="width: 25%;">HIVE</th>
            <th style="width: 25%;"><span class="t_n"></span></th>
            <th style="width: 25%;">BID</th>
          </tr>
        </thead>
        <tbody id="buy_book">
        </tbody>
      </table>
    </div>
    <div class="d-flex flex-column flex-grow-1 ml-3">
      <span class="big">Sell Orders</span>
      <table class="table darker table-borderless">
        <thead>
          <tr>
            <th style="width: 25%;">ASK</th>
            <th style="width: 25%;"><span class="t_n"></span></th>
            <th style="width: 25%;">HIVE</th>
            <th style="width: 25%;">TOTAL HIVE</th>
          </tr>
        </thead>
        <tbody id="sell_book">
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex flex-column w-100">
    <span class="big">Open Orders</span>
    <table class="table darker table-borderless">
      <thead>
        <tr>
          <th style="width: 50%;">DATE</th>
          <th style="width: 10%;">TYPE</th>
          <th style="width: 15%;"><span class="t_n"></span></th>
          <th style="width: 10%;">PRICE</th>
          <th style="width: 10%;">TOTAL HIVE</th>
          <th style="width: 5%;"></th>
        </tr>
      </thead>
      <tbody id="open_orders">
      </tbody>
    </table>
  </div>

  <div class="d-flex flex-column w-100">
    <span class="big">Trades History</span>
    <table class="table darker table-borderless">
      <thead>
        <tr>
          <th style="width: 50%;">DATE</th>
          <th style="width: 10%;">TYPE</th>
          <th style="width: 15%;"><span class="t_n"></span></th>
          <th style="width: 10%;">PRICE</th>
          <th style="width: 15%;">TOTAL HIVE</th>
        </tr>
      </thead>
      <tbody id="trades_history">
      </tbody>
    </table>
  </div>
</div>

<script>
  async function market_page () {
    const url = new URL(location.href);
    let symbol = url.searchParams.get('symbol');

    if (!symbol) {
      url.searchParams.append('symbol', 'BEE');
      await pushPage(url.href);
      return;
    } else symbol = symbol.toUpperCase();

    $('#token, #tokenERR').attr('placeholder', symbol);
    $('#token, #tokenERR').on('keyup', async function (e) {
      const value = $(this).val();
      if (value === '' || value.length < 3) return;

      if (e.keyCode === 13) {
        url.searchParams.set('symbol', value.toUpperCase());
        await pushPage(url.href);
        return;
      }
    });
    const metric = await ssc.findOne('market', 'metrics', {
      symbol
    });

    if (!metric) {
      $('#err').removeClass('d-none');
      $('#card_loading').remove();
      return;
    }

    var ctx_candle = document.getElementById('candle_chart').getContext('2d');
    var ctx_volume = document.getElementById('volume_chart').getContext('2d');
    var ctx_depth = document.getElementById('depth_chart').getContext('2d');
    ctx_candle.canvas.width = 1110;
    ctx_candle.canvas.height = 400;
    ctx_volume.canvas.width = 1110;
    ctx_volume.canvas.height = 400;
    ctx_depth.canvas.width = 1110;
    ctx_depth.canvas.height = 400;
    const response = await axios.get(`https://accounts.hive-engine.com/marketHistory?symbol=${symbol}`);
    const market_history = [];
    const volume_history_hive = [];
    const volume_history_dates = [];
    const volume_history_token = [];
    for (let c = 0; c < 60; c += 1) {
      const data = response.data[c];

      if (!data) break;
      market_history.push({
        t: (data.timestamp * 1000),
        o: data.openPrice,
        h: data.highestPrice,
        l: data.lowestPrice,
        c: data.closePrice
      });
    }
    market_history.reverse();

    function formatDate(date) {
      var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();

      if (month.length < 2) 
        month = '0' + month;
      if (day.length < 2) 
        day = '0' + day;

      return [month, day, year].join('/');
    }

    for (let v = 0; v < 30; v += 1) {
      const data = response.data[v];

      if (!data) break;
      volume_history_hive.push(data.volumeSteem);
      volume_history_token.push(data.volumeToken);
      volume_history_dates.push(formatDate(data.timestamp * 1000));
    }
    volume_history_hive.reverse();
    volume_history_token.reverse();
    volume_history_dates.reverse();

    var candle_chart = new Chart(ctx_candle, {
      type: 'candlestick',
      data: {
        datasets: [{
          label: '',
          data: market_history
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false,            
          },
        }
      }
    });

    var volume_chart = new Chart(ctx_volume, {
      type: 'bar',
      data: {
        labels: volume_history_dates,
        datasets: [
          {
            label: 'SWAP.HIVE',
            data: volume_history_hive,
            backgroundColor: '#8142FF'
          },
          {
            label: symbol,
            data: volume_history_token,
            backgroundColor: '#FF9124'
          }
        ]
      },
      options: {
        interaction: {
          mode: 'index',
          intersect: false,
        }
      }
    });

    const buyOrders = await ssc.find('market', 'buyBook', {
      symbol
    }, 200, 0, [{index: "priceDec", descending: true}]);
    const sellOrders = await ssc.find('market', 'sellBook', {
      symbol
    }, 200, 0, [{index: "priceDec", descending: false}]);

    const price_labels = [];
    const buyLabels = [];
    const sellLabels = [];
    const buyDataset = [];
    const sellDataset = [];

    function buildPriceLabel (element) {
      const price = parseFloat(element.price);
      if (!price_labels.includes(price))
        price_labels.push(price);

      if (!buyLabels.includes(price) && element.type === 'buy')
        buyLabels.push(price);

      if (!sellLabels.includes(price) && element.type === 'sell')
        sellLabels.push(price);
    }

    buyOrders.forEach(el => el.type = 'buy');
    sellOrders.forEach(el => el.type = 'sell');
    buyOrders.forEach(buildPriceLabel);
    sellOrders.forEach(buildPriceLabel);

    for (let i = 0; i < price_labels.length; i += 1) {
      const price = price_labels[i];
      const matchingBuyOrders = buyOrders.filter(el => parseFloat(el.price) === price);
      const matchingSellOrders = sellOrders.filter(el => parseFloat(el.price) === price);

      let buy = null;
      let sell = null;

      if (matchingBuyOrders.length) {
        let quantity = 0;
        matchingBuyOrders.forEach(el => quantity += parseFloat(el.quantity));
        let previousQuantity = buyDataset[i - 1] || 0;
        quantity += previousQuantity;
        buy = quantity;
      }

      if (matchingSellOrders.length) {
        let quantity = 0;
        matchingSellOrders.forEach(el => quantity += parseFloat(el.quantity));
        let previousQuantity = sellDataset[i - 1] || 0;
        quantity += previousQuantity;
        sell = quantity;
      }

      buyDataset.push(buy);
      sellDataset.push(sell);
    }

    buyLabels.sort(function(a, b) { return a - b });
    buyDataset.sort(function(a, b) { return b - a });

    var depth_chart = new Chart(ctx_depth, {
      type: 'line',
      data: {
        labels: buyLabels.concat(sellLabels),
        datasets: [
          {
            label: 'Buy',
            // stepped: 'after',
            borderColor: '#3AC569',
            backgroundColor: '#56A902',
            fill: true,
            data: buyDataset,
          },
          {
            label: 'Sell',
            // stepped: 'before',
            borderColor: '#F94E3F',
            backgroundColor: '#FF5F2E',
            fill: true,
            data: sellDataset,
          }
        ]
      },
      options: {
        interaction: {
          mode: 'index',
          intersect: false,
        }
      }
    });

    const books = {
      buyBook: [],
      sellBook: []
    };

    function buildBook (type, orders) {
      let prices = [];
      if (type === 'buy') {
        prices = buyLabels.reverse();
      } else {
        prices = sellLabels;
      }
      for (let i = 0; i < 15; i += 1) {
        const price = prices[i];
        if (!price) break;
        const matchingOrders = orders.filter(el => parseFloat(el.price) === price);
        let quantity = '0';
        matchingOrders.forEach(el => quantity = BigNumber(quantity).plus(el.quantity).toFixed(8));
        let hive = BigNumber(quantity)
          .multipliedBy(price)
          .toFixed(6);
        const previousOrder = books[`${type}Book`][i-1];
        let previousHive = previousOrder ? previousOrder.total_hive : '0';
        let total_hive = BigNumber(previousHive)
          .plus(hive)
          .toFixed(5);

        const o = {
          price: price.toFixed(6),
          quantity: parseFloat(quantity),
          hive: parseFloat(hive),
          total_hive: parseFloat(total_hive),
        };
        books[`${type}Book`].push(o);

        if (type === 'buy') {
          $(`#buy_book`).append(
            `
            <tr>
              <td>${o.total_hive}</td>
              <td>${o.hive}</td>
              <td>${o.quantity}</td>
              <td class="text-right"><span class="select_market">${o.price}</span></td>
            </tr>
            `
          );
        } else {
          $(`#sell_book`).append(
            `
            <tr>
              <td><span class="select_market">${o.price}</span></td>
              <td>${o.quantity}</td>
              <td>${o.hive}</td>
              <td>${o.total_hive}</td>
            </tr>
            `
          );
        }
      }
    }

    buildBook('buy', buyOrders);
    buildBook('sell', sellOrders);

    let hive_balance = '0';
    let t_balance = '0';
    if (user !== null) {
      const balances = await getData('tokens', 'balances', {
        account: user
      });
      hive_balance = balances.find(el => el.symbol === 'SWAP.HIVE');
      t_balance = balances.find(el => el.symbol === symbol);
      if (hive_balance) hive_balance = hive_balance.balance;
      else hive_balance = '0';
      if (t_balance) t_balance = t_balance.balance;
      else t_balance = '0';
      $('#hive_balance').text(hive_balance);
      $('#t_balance').text(t_balance);
    } else {
      $('#balances').remove();
    }

    const sell_open_orders = [];
    const buy_open_orders = [];
    if (user !== null) {
      sell_open_orders.push(...await getData('market', 'sellBook', {
        account: user,
        symbol
      }));

      buy_open_orders.push(...await getData('market', 'buyBook', {
        account: user,
        symbol
      }));
    }


    if (!sell_open_orders.length && !buy_open_orders.length) {
      $('#open_orders').append(
        `
        <tr>
          <td colspan="6">No open orders found</td>
        </tr>
        `
      );
    }

    for (let x = 0; x < sell_open_orders.length; x += 1) {
      const order = sell_open_orders[x];
      let d = new Date(order.timestamp * 1000);
      $('#open_orders').append(
        `
        <tr>
          <td>${d}</td>
          <td class="text-danger">SELL</td>
          <td>${parseFloat(order.quantity)}</td>
          <td>${parseFloat(order.price)}</td>
          <td>${parseFloat(BigNumber(order.quantity).multipliedBy(order.price).toFixed(8))}</td>
          <td><button type="button" data-type="sell" data-id="${order.txId}" class="btn btn-danger btn-sm cancel">Cancel</button></td>
        </tr>
        `
      );
    }
    for (let x = 0; x < buy_open_orders.length; x += 1) {
      const order = buy_open_orders[x];
      let d = new Date(order.timestamp * 1000);
      $('#open_orders').append(
        `
        <tr>
          <td>${d}</td>
          <td class="text-success">BUY</td>
          <td>${parseFloat(order.quantity)}</td>
          <td>${parseFloat(order.price)}</td>
          <td>${parseFloat(BigNumber(order.quantity).multipliedBy(order.price).toFixed(8))}</td>
          <td><button type="button" data-type="buy" data-id="${order.txId}" class="btn btn-danger btn-sm cancel">Cancel</button></td>
        </tr>
        `
      );
    }

    const trades_history = await ssc.find(
      'market',
      'tradesHistory',
      {
        symbol,
      },
      25,
      0,
      [{index: "_id", descending: true}]
    );

    if (!trades_history.length) {
      $('#trades_history').append(
        `
        <tr>
          <td colspan="6">No trade history found</td>
        </tr>
        `
      );
    }
    
    for (let x = 0; x < trades_history.length; x += 1) {
      const trade = trades_history[x];
      let d = new Date(trade.timestamp * 1000);
      $('#trades_history').append(
        `
        <tr>
          <td>${d}</td>
          <td class="${trade.type === 'buy' ? 'text-success' : 'text-danger'}">${trade.type.toUpperCase()}</td>
          <td>${parseFloat(trade.quantity)}</td>
          <td>${parseFloat(trade.price)}</td>
          <td>${parseFloat(BigNumber(trade.quantity).multipliedBy(trade.price).toFixed(8))}</td>
        </tr>
        `
      );
    }

    $('.t_n').each(function () {
      $(this).text(symbol);
    });
    $('#bid').text(metric.highestBid);
    $('#ask').text(metric.lowestAsk);
    $('#last').text(metric.lastPrice);
    $('#volume').text(metric.volume);

    $('#card_loading').remove();
    $('#pg').removeClass('d-none');

    $('#candle, #depth, #volume').on('click', function () {
      $('canvas').each(function () {
        $(this).hide();
      });
      const name = $(this).attr('id');
      $(`#${name}_chart`).show();
    });

    function updateTrade () {
      let total_el, price_el, quantity_el, type;
      if ($(this).attr('id') === 'sell_quantity'
        || $(this).attr('id') === 'sell_price') {
        type = 'sell';
        total_el = $('#sell_total');
        price_el = $('#sell_price');
        quantity_el = $('#sell_quantity');
      } else {
        type = 'buy';
        total_el = $('#buy_total');
        price_el = $('#buy_price');
        quantity_el = $('#buy_quantity');
      }

      const price = price_el.val();
      const quantity = quantity_el.val();
      let total = '0';

      if (BigNumber(quantity).gt(0)
        && BigNumber(price).gt(0)) {
        total = BigNumber(price)
          .multipliedBy(quantity)
          .toFixed(8);

        if (type === 'sell') {
          if (BigNumber(t_balance).gte(quantity)) $('#sell').removeAttr('disabled');
          else $('#sell').attr('disabled', '');
        } else {
          if (BigNumber(hive_balance).gte(total)) $('#buy').removeAttr('disabled');
          else $('#buy').attr('disabled', '');
        }
      }

      total_el.val(parseFloat(total));
    }

    $('#sell_quantity, #buy_quantity').on('keyup', updateTrade);
    $('#sell_quantity, #buy_quantity').on('change', updateTrade);
    $('#sell_price, #buy_price').on('keyup', updateTrade);
    $('#sell_price, #buy_price').on('change', updateTrade);

    $('.select_market').on('click', function () {
      $('#buy_price, #sell_price').val($(this).text()).change();
    });

    $('#buy, #sell').on('click', function () {
      const type = $(this).attr('id');
      let price, quantity;
      if (type === 'sell') {
        price = $('#sell_price').val();
        quantity = $('#sell_quantity').val();
      } else {
        price = $('#buy_price').val();
        quantity = $('#buy_quantity').val();
      }

      const obj = {
        contractName: 'market',
        contractAction: type,
        contractPayload: {
          price,
          quantity,
          symbol
        }
      }

      if (!window.hive_keychain) toast('failure', 'Hive Keychain not installed');
      else {
        window.hive_keychain.requestCustomJson(
          user,
          'ssc-mainnet-hive',
          'active',
          JSON.stringify(obj),
          `${type.charAt(0).toUpperCase() + type.slice(1)} Order`,
          async function (response) {
            if (response.error) {
              toast('failure', 'An error occured, please try again');
              return;
            }

            toast('success', `Successfully placed ${type} order`);
            await pushPage(url.href, response.result.id);
            return;
          }
        );
      }
    });

    $('.cancel').on('click', function () {
      if (!window.hive_keychain) toast('failure', 'Hive Keychain not installed');
      else {
        const type = $(this).data('type');
        const id = $(this).data('id');
        const obj = {
          contractName: 'market',
          contractAction: 'cancel',
          contractPayload: {
            type,
            id
          }
        };
        window.hive_keychain.requestCustomJson(
          user,
          'ssc-mainnet-hive',
          'active',
          JSON.stringify(obj),
          'Cancel Market Order',
          async function (response) {
            if (response.error) {
              toast('failure', 'An error occured, please try again');
              return;
            }

            toast('success', 'Successfully canceled order');
            await pushPage(url.href, response.result.id);
            return;
          }
        );
      }
    });
  }
  market_page();
</script>
